.main-page {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__search-bar {
        width: 50%;
        align-self: center;
    }

    &__pagination {
        display: flex;
        justify-content: center;

        & a {
            color: black;

            &:hover, &:active, &:focus {
                color: black;
            }
        }
    }
}

