.characters-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
    grid-gap: 40px;

    & a {
        color: inherit;
        text-decoration: inherit;
    }
}