@import './../../common/colors.scss';

.divider {
    background-color: $light-grey;

    &--horizontal {
        height: 1px;
    }

    &--vertical {
        height: 100%;
        width: 1px;
    }
}